<div ng-controller="DashboardCtrl">
    <div class="row border-bottom">
		<div class="col-md-6">
		    <h5 class="custom-page-header">Dashboard</h5>
		</div>
		<div class="col-md-6">
		    <span class="pull-right" style="padding-top: 8px;"><a href="">Getting Started</a></span>
		</div>
	</div>
    
    <div custom-scroll removable-area="108" class="row">
		<div class="row">
		    <div class="col-md-6">
		        <p>&nbsp;</p>
		        <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-money"></i> Some Content Panel</h3>
                    </div>
                    <div class="panel-body">
                        <span>
		                Put more meaningfull content here
		                </span>
                    </div>
                </div>
		    </div>
		    <div class="col-md-6">
		        <p>&nbsp;</p>
		        <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-credit-card"></i> Some Other Content Panel</h3>
                    </div>
                    <div class="panel-body">
                        <span>
		                Put some other meaningfull content here
		                </span>
                    </div>
                </div>
		    </div>
		</div>
		
    </div>
</div>